<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=2" />

    <meta name="keywords" content="Services, Home , Location, strategic," />
    <meta name="author" content="TEDx Team" />
    <meta name="title" content="TEDx Mobile Application Home" />
    <meta name="description"
          content="Join some of your favorite TED speakers and a global community of learners who want to stay curious, imagine and thrive." />

    <meta name="copyright" content="Copyright TEDx - 2024" />
    <meta name="email" content="Info@TEDx" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <!--  Essential META Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content=" " />
    <meta property="og:title" content="TEDx Event" />
    <meta property="og:description"
          content="Join some of your favorite TED speakers and a global community of learners who want to stay curious, imagine and thrive." />
    <meta property="og:image"
          content="~/assets/imgs/logo.webp" />
    <meta property="og:site_name" content="TEDx" />

    <!--  social media tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content=" " />
    <meta name="twitter:creator" content="@@twitter" />
    <meta name="twitter:title" content="TEDx Event" />
    <meta name="twitter:description"
          content="Join some of your favorite TED speakers and a global community of learners who want to stay curious, imagine and thrive." />
   
    <meta name="twitter:image:alt" content="TEDx Courses" />
    <link rel="alternate" href="~/assets/imgs/logo.webp" media="all" />

    <!--  Non-Essential, But Required for Analytics -->
    <meta property="fb:app_id" content="100085894330941" />
    <meta name="twitter:site" content="@@twitter" />
    <meta property="og:locale" content="en_EG" />
    <meta property="og:locale:alternate" content="ar_EG" />

    <meta name="msapplication-TileImage" content="~/assets/imgs/logo.png" />
    <meta name="msapplication-TileColor" content="#95c123" />

    <!--  site map -->
    <meta name="google-site-verification" content="" />

    <title>TEDx</title>
    <link rel="stylesheet" href="~/css/all.min.css" />
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/tempusdominus-bootstrap.css" />
    <!-- carousel slider  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <!-- animation -->
    <link rel="stylesheet" href="~/css/animate.css" />
    <!-- custom style  -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- rtl style  -->
    <link rel="stylesheet" href="~/css/style-ar.css" />

    <!-- Favicons -->
    <link href="~/assets/imgs/favicon.ico" rel="shortcut icon" />
    <link href="~/assets/imgs/favicon.webp" rel="apple-touch-icon" />
</head>
<body>
        <!-- Navigation Bar -->
        <nav class="navbar sticky-top fixed-top navbar-dark bg-dark navbar-expand-lg shadow-sm py-2 px-3" id="header">
            <div class="container-fluid">
                <div class="navbar-brand py-2">
                    <img src="~/assets/imgs/logo.webp" width="110" alt="logo TEDx" />
                </div>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
                    <span class="navbar-text">
                        <button type="button" class="btn btn-primary text-light rounded-0">Ar</button>
                    </span>
                </div>
            </div>
        </nav>

            @RenderBody()
    

    <!-- Start footer -->
       @if (ViewBag.HideFooter == null || !(bool)ViewBag.HideFooter)
    {
        <section class="footer py-5">
            <div class="container">
        <div class="row align-items-start g-4">
          <div class="col-lg-3 col-md-4 text-center">
            <i class="fa-regular fa-clock fs-1 mb-3"></i>
            <div style="direction: ltr">
              <p class="mb-0">4:00 PM</p>
              <p>9:00 PM</p>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 text-center">
            <i class="fa-solid fa-location-dot fs-1 mb-3"></i>
            <p>مسرح شركة ابن رشد التعليمية القابضة</p>
                        <img src="~/assets/imgs/newQR.png" alt="QrCode" height="100" />

          </div>
          <div class="col-lg-3 col-md-4 text-center">
            <i class="fa-regular fa-calendar-days fs-1 mb-3"></i>
            <p>السبت - 25 يناير 2025</p>
          </div>
        </div>
      </div>
    </section>
    }
    <!-- End footer -->
    <!-- scroll to top -->
    <div class="scroll-top shadow wow slideInDown">
        <i class="fas fa-chevron-up"></i>
    </div>

    <!-- confirm Modal -->
    <!-- Modal -->
    <div class="modal fade"
         id="confirmModal"
         tabindex="-1"
         aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content py-5">
                <div class="modal-body text-center">
                    <i class="fa-solid fa-check fs-1 text-success mb-4"></i>
                    <h3 class="my-3">تم ارسال الطلب بنجاح</h3>
                    <p>تم ارسال عبر منصة قوي و بانتظار الموافقه من الموظفين</p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/moment.js"></script>
    <script src="~/js/tempusdominus-bootstrap.js"></script>
    <!-- carousel slider  -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- custom js  -->
    <script src="~/js/scripts.js"></script>
    <!-- animation js -->
    <script src="~/js/wow.js"></script>
    <script>
        new WOW().init();
    </script>

    <script>
        $(document).ready(function () {
            $('.speaker').hide();
            $("#inlineRadio1").on("click", function () {
                console.log(this.checked)
                $('.speaker').toggle(this.checked);
            });
            $("#inlineRadio2").on("click", function () {
                $('.speaker').hide();
            });
        });
    </script>
    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
